<div class="container text-center">
  <div class="row row-cols-3">
    <div> <img src="https://wiki.freifunk.net/wiki.svg" data-bs-toggle="modal" data-bs-target="#staticBackdrop"
        alt="Girl in a jacket" width="500" height="600">

      <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="staticBackdropLabel">Modal title</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              ...
            </div>
            <div class="modal-footer">
              <a href="#">Visit website</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>