{% meta %}
  endpoint: network_stats
  parent_tmpl: network/_layout.html
{% endmeta %}

{% block content %}
<noscript><big>Für diese Seite wird JavaScript benötigt!<br />Bitte verwenden Sie einen modernen Browser mir aktiviertem Javascript.</big></noscript>
<script src="{{url_for('static/js/chart.js')}}"></script>


<div id="firmware" class="row">
  <div class="span12">
    <h3>Firmware</h3>
    <p>Lade Daten...</p>
  </div>
  <div class="span5">
    <canvas id="firmwarePie" width="400px" height="400px"></canvas>
  </div>
  <div class="span5">
    <div id="firmwareLegend">
  </div>
</div>

<div id="router" class="row">
  <div class="span12">
    <h3>Router</h3>
    <p>Lade Daten...</p>
  </div>
  <div class="span5">
    <canvas id="routerPie" width="400px" height="400px"></canvas>
  </div>
  <div class="span5">
    <div id="routerLegend">
  </div>
</div>

<div id="hardware" class="row">
  <div class="span12">
    <h3>Chipsatz</h3>
    <p>Lade Daten...</p>
  </div>
  <div class="span5">
    <canvas id="hardwarePie" width="400px" height="400px"></canvas>
  </div>
  <div class="span5">
    <div id="hardwareLegend">
  </div>
</div>

<div id="script" class="row">
  <div class="span12">
    <h3>Map-Scripts</h3>
    <p>Lade Daten...</p>
  </div>
  <div class="span5">
    <canvas id="scriptPie" width="400px" height="400px"></canvas>
  </div>
  <div class="span5">
    <div id="scriptLegend">
  </div>
</div>

<script>
var bbox = '13.179473876953125,52.45308034523523,13.647079467773438,52.59241215943279',
    map = new Openwifimap('http://api.openwifimap.net', bbox);

function getRandomColor() {
    var letters = '0123456789ABCDEF'.split('');
    var color = '#';
    for (var i = 0; i < 6; i++ ) {
        color += letters[Math.floor(Math.random() * 16)];
    }
    return color;
}

var drawNodes = function(nodes) {
  var firmwares = [{ 'id' : 'unknown', 'value' : 0 }];
  var hardwares = [{ 'id' : 'unknown', 'value' : 0 }];
  var routers = [{ 'id' : 'unknown', 'value' : 0 }];
  var scripts = [{ 'id' : 'unknown', 'value' : 0 }];

  var findAndInc = function(list, id) {
    if (typeof id != "string")
      id = 'unknown';

    for (var i = 0; i < list.length; i++) {
      var item = list[i];
      if (item.id == id) {
        ++item['value']
        return;
      }
    }

    list.push({ 'id' : id, 'value' : 1 });
  }

  for (var i = 0; i < nodes.length; i++) {
    var node = nodes[i];

    try {
      var firmware = node.firmware.revision;
      findAndInc(firmwares, firmware);
    } catch (e) {
      findAndInc(firmwares);
    }

    try {
      findAndInc(hardwares, node.hardware);
    } catch (e) { }

    try {
      findAndInc(routers, node.system.sysinfo[1]);
    } catch (e) {
      findAndInc(routers);
    }

    try {
      findAndInc(scripts, node.script);
    } catch (e) { }
  }

  {% raw %}
  var cmp = (function(a,b) {return b.value - a.value});
  firmwares = firmwares.sort(cmp);
  hardwares = hardwares.sort(cmp);
  routers = routers.sort(cmp);
  scripts = scripts.sort(cmp);


  drawPie = function(data, chart_id) {
    var ctx = document.getElementById(chart_id + "Pie").getContext("2d");
    data.map(function(x) {
      x["color"] = getRandomColor();
      x["label"]=x["id"];
      delete x["id"];
      return x
    })
    legendTemplate = "\
    <ul style=\"list-style-type: none;\">\
      <% for (var i=0; i<segments.length; i++){%>\
        <li>  \
          <span class=\"labelbox\" style=\"color:<%=segments[i].fillColor%>\">&#9899</span>\
          <%if(segments[i].label){%><%=segments[i].label%><%}%> : <%if(segments[i].value){%><%=segments[i].value %><%}%>\
        </li>\
      <%}%>\
    </ul>"
    var myDoughnutChart = new Chart(ctx).Doughnut(data ,{segmentShowStroke : true, legendTemplate: legendTemplate});
    var legend = myDoughnutChart.generateLegend();
    $('#' + chart_id + 'Legend').append(legend);
    $("#" + chart_id + ' p').fadeOut('slow')
  }
  drawPie(firmwares, "firmware")
  drawPie(routers, "router")
  drawPie(hardwares, "hardware")
  drawPie(scripts, "script")

  {% endraw %}
};

var loading = function(resolved, skipped, total) {
  var ids = ['firmware', 'hardware', 'router', 'script'];
  for (var i=0; i < ids.length; ++i) {
    var elem = $('#' + ids[i] +  ' p');
    elem.text(resolved + ' von ' + (total-skipped) + ' Knoten geladen');
  }
}

map.getNodes().then(drawNodes, null, loading);

</script>
{% endblock %}
