{% extends "_base.html" %}
{% block content %}
<h3>Treffen</h3>
<p>
Jeden Mittwoch trifft sich die Berliner Freifunk-Community in der c-base in der Rungestraße 20 (Nahe S+U Jannowitzbrücke). Hier kann mensch alles lernen was mensch zur Teilnahme am "olsrexperiment" braucht - vom Antennenbau bis zur Access-Point-Konfiguration. Jeden 1. Mittwoch im Monat gibt es einen Einsteigervortrag für neue MitstreiterInnen. Möglichkeiten mitzumachen bei Freifunk gibt es viele - als NetzwerkerIn, Software-ProgrammiererIn, AutorIn oder IdeenpromoterIn... Ein paar Ideen, wie du dich in der Freifunk-Community engagieren kannst, haben wir folgend zusammengestellt.
</p>

<h3>Mailingliste</h3>
<p>
<a href="http://lists.berlin.freifunk.net/cgi-bin/mailman/listinfo">Mailman</a>
Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
</p>

{% endblock %}
