/*
 * Global
 */
@font-face { font-family: 'Liberation Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Liberation Sans'), local('Liberation'), url('LiberationSansNarrow-Regular.woff') format('woff');
}

body {
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px;
}

h1, h2, h3 {
  font-family: 'Liberation Sans', sans-serif;
}

h4 {
  margin-top: 20px;
}

a {
  color: #db0166;
}

a:hover {
  color: #ffcb05;
}

footer {
  margin: 20px 0px;
  text-align: center;
}

footer iframe {
  vertical-align: middle;
}

footer a, footer iframe{
  margin: 0px 15px;
}

footer a:hover {
  text-decoration: none;
}

footer img {
  height: 20px;
}

.description {
  color: #db0166;
  cursor: default;
}

.externalLink {
  font-style: italic;
}



/*
 * Header
 */
#header {
  background: url(../img/logo_background.png);
  margin-top: 10px;
}

#header h1 {
  margin: 10px;
  height: 44px;
  letter-spacing:7px;
}

#header h1 small {
  font-style: italic;
  letter-spacing:3px;
}
#header div, #header p {
  display: inline-block;
}

#header p {
  float: right;
}
#header ul {
  margin: 0px 0px 0px 10px;
}

#header li.right {
  float: right;
}

#header li {
  line-height: 29px;
  vertical-align: middle;
  float: left;
  list-style-type: none;
  margin:0px 20px 0px 20px;
  text-align: center;
}

#header a {
  color: #fff;
}

#header li, .submenu li {
  font-weight: bold;
}

#header li.active {
  color: #ffcb05;
}

ul.submenu {
  margin: 10px 0px 20px 10px;
}

ul.submenu li {
  display: inline-block;
  margin-left: 30px;
  float: left;
  list-style-type: none;
}


/*
 * Content
 */

#content  {
  padding: 0px 30px 0px 30px;
}

#network  {
  padding: 0px 50px 0px 50px;
}

#edges, #graph p {
  text-align: center;
}

#announcement {
  width: 80%;
  margin: 20px auto;
  text-align: center;
  padding: 10px;
}

#lang-switch {
  position: relative;
}

#lang-switch a {
  position: absolute;
  right: 0px;
  font-weight: bold;
}

#about-freifunk {
  clear: both;
}

#about-functionality, #about-participate {
  clear: both;
  padding-top: 40px;
}

#about-functionality {
  text-align: right;
}

.figure {
  padding: 20px;
  text-align: center;
  font-weight: bold;
  font-size: 0.8em;
  font-family: 'Noto Sans', sans-serif;
}

.about .figure {
  margin: 30px 0px 0px 20px;
}

.case .page-header {
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 0;
}

.case-head h3 {
  margin-top: 0;
}

.case-head h5 {
  line-height: 2.5ex;
  height: 7.5ex;
  color: #999;
  overflow: hidden;
}


/*
 * SVG
 */

.hidden {
  visibility: hidden;
}

#graph svg {
  border: 1px solid #000;
}

.label {
  font-style: italic;
}

.link {
  stroke: steelblue;
  stroke-opacity: .4;
  fill: none;
}

text.active {
  fill: red;
}

path.active {
  stroke: red;
  stroke-width: 4;
}

#nodes {
  border: 1px solid #ccc;
}

.col3 > * {
  width: 30%;
  float: left;
}

.col3 + * {
  clear: both;
}

/*
.col3 > * {
  padding-left: 2%;
  padding-right: 2%;
}
*/

.col3 > *:not(:first-child) {
  padding-left: 2%;
}


.col3 > *:not(:last-child) {
  padding-right: 2%;
}


/*
 Fixing video js bug: play button centered
*/
.vjs-default-skin {
  margin: 20px 0px 0px 10px;
}

.vjs-default-skin .vjs-big-play-button
{
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -40px;
  width: 80px;
  height: 80px;
}

.vjs-default-skin:hover .vjs-big-play-button {
  border-color: #db0166;
}

#howto h3 {
  clear: both;
  margin-top: 30px;
}
