/*
 * Global
 */
@font-face {
  font-family: 'Liberation Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Liberation Sans'), local('Liberation'), url('LiberationSansNarrow-Regular.woff') format('woff');
}

body {
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px;
}

h1, h2, h3 {
  font-family: 'Liberation Sans', sans-serif;
}

h4 {
  margin-top: 20px;
}

a {
  color: #db0166;
}

a:hover {
  color: #ffcb05;
}

footer {
  text-align: center;
  padding: 40px;
}

footer a:hover {
  text-decoration: none;
}

footer img {
  height: 20px;
}



/*
 * Header
 */
#header {
  background: url(../img/logo_background.png);
  margin-top: 10px;
}

#header h1 {
  margin: 10px;
  height: 44px;
  letter-spacing:7px;
}

#header h1 small {
  font-style: italic;
  letter-spacing:3px;
}
#header div, #header p {
  display: inline-block;
}

#header p {
  float: right;
}
#header ul {
  margin: 0px 0px 0px 10px;
}

#header li.right {
  float: right;
}

#header li {
  line-height: 29px;
  vertical-align: middle;
  float: left;
  list-style-type: none;
  margin:0px 20px 0px 20px;
  text-align: center;
}

#header a {
  color: #fff;
}

#header li, .submenu li {
  font-weight: bold;
}

#header li.active {
  color: #ffcb05;
}

ul.submenu {
  margin: 10px 0px 20px 10px;
}

ul.submenu li {
  display: inline-block;
  margin-left: 30px;
  float: left;
  list-style-type: none;
}


/*
 * Content
 */

#content  {
  padding: 0px 30px 0px 30px;
}

#network  {
  padding: 0px 50px 0px 50px;
}

#edges, #graph p {
  text-align: center;
}

#news {
  width: 80%;
  margin: 20px auto;
  border: 1px dashed #000;
  text-align: center;
  padding: 10px;
}

#about-functionality, #about-participate {
  clear: both;
  padding-top: 40px;
}

#about-functionality {
  text-align: right;
}

.figure {
  padding: 20px;
  text-align: center;
  font-weight: bold;
  font-size: 0.8em;
  font-family: 'Noto Sans', sans-serif;
}

.about .figure {
  margin: 30px 0px 0px 20px;
}



/*
 * SVG
 */

.hidden {
  visibility: hidden;
}

#graph svg {
  border: 1px solid #000;
}

.label {
  font-style: italic;
}

.link {
  stroke: steelblue;
  stroke-opacity: .4;
  fill: none;
}

text.active {
  fill: red;
}

path.active {
  stroke: red;
  stroke-width: 4;
}
