{% extends "_layout.html" %}
{% block raw %}

<div class="container">
  <div class="row">
    <div class="span12">
      <ul class="span12 submenu">
        {% import '_utils.html' as utils with context%}
        {{ utils.nav('Überblick', 'participate/overview') }}
        {{ utils.nav_external('HowTo', 'https://wiki.freifunk.net/Berlin:Firmware:Howto') }}
        {{ utils.nav('Spenden', 'participate/donate') }}
        {{ utils.nav_external('Freifunk-Wizard', 'https://config.berlin.freifunk.net/wizard/routers') }}
        {{ utils.nav_external('BBB-VPN', 'https://wiki.freifunk.net/Berlin:BBB-VPN') }}
      </ul>

      <div id="network">
        {% block content %}{%endblock %}
      </div>
    </div>
  </div>
</div>

{% endblock %}
