{% extends "_layout.html" %}
{% block raw %}

<div class="container">
  <div class="row">
    <div class="span12">
      <ul class="span12 submenu">
        {% import '_utils.html' as utils with context%}
        {{ utils.nav('Überblick', 'participate/overview') }}
        {{ utils.nav('HowTo', 'participate/howto') }}
        {{ utils.nav('Spenden', 'participate/donate') }}
        {{ utils.nav_external('IP-Vergabe', 'http://config.berlin.freifunk.net/wizard/routers') }}
        {{ utils.nav_external('Freifunk-VPN', 'http://wiki.freifunk.net/Vpn03') }}
        {{ utils.nav_external('BBB-VPN', 'http://bbb-vpn.berlin.freifunk.net') }}
        {{ utils.nav('Sicherheit', 'participate/security') }}
      </ul>

      <div id="network">
        {% block content %}{%endblock %}
      </div>
    </div>
  </div>
</div>

{% endblock %}
