.swiper-slide .card {
    height: 500px;
}

.swiper-slide .card-image {
    max-height: 50%;
    overflow: hidden;
}

.swiper-slide .card-image img {
    width: 100%;
    filter: grayscale(1);
}

.swiper-pagination {
    position: static;
    padding-top: 20px;
}

.swiper-pagination-bullet {
    width: 22px;
    border-radius: 7px;
    background-color: #dc0067;
}

.swiper-slide .invisible {
    display: none;
}

.swiper-slide .fading-text {
    overflow: hidden;
    background: -webkit-linear-gradient(#3C4257, #EEE);
    -webkit-background-clip: text;
    -webkit-box-decoration-break: clone;
    -webkit-text-fill-color: transparent;
    box-decoration-break: clone;
    text-shadow: none;
}

#mastodon {
    background-color: #dc006722;
}

.swiper-slide .fading-text a {
    -webkit-text-fill-color: initial;
}
