{% macro nav(label, url, endpoint = None) -%}
{% with %}
  {% if endpoint is none %}
    {% set endpoint = url.replace('/', '_') if url != '/' else 'index' %}
  {% endif %}

  {% if endpoint in entry.endpoint %}
  <li class="active">
    {{label}}
  {% else %}
  <li>
    <a href="{{url_for(url)}}">
      {{label}}
    </a>
  </li>
  {% endif %}
{% endwith %}
{%- endmacro %}

{% macro nav_external(label, url, class = None) -%}
<li{%if class is not none%} class="{{class}}"{%endif%}>
  <a href="{{url}}" class="externalLink">
    {{label}}
  </a>
</li>
{%- endmacro %}

