<div class="mb-4">
<noscript>
    {{ .Inner }}
</noscript>
    <section id="map-container" style="display: none;">
        <a id="map-overlay" href="https://hopglass.berlin.freifunk.net/" target="_blank"
            style="position:absolute;height:700px;"></a>
        <iframe id="map-iframe" width="100%" height="700px" style="overflow:hidden" scrolling="no"
            src="https://hopglass.berlin.freifunk.net/">
        </iframe>
        <script>
            document.getElementById("map-container").style.display = "block";
            let iframeWidth = document.getElementById("map-iframe").offsetWidth;
            document.getElementById("map-overlay").style.width = `${iframeWidth}px`;
        </script>
    </section>
</div>