{{/* Overwriting the theme partial to add translatable text and working links. */}}
<!-- Footer Start -->
<footer class="footer footer-light footer-bar">
    <div class="footer-py-30">
        <div class="container">
            <ul class="nav align-items-center align-content-between flex-wrap">
                {{ range .Site.Params.footer }}
                <li class="nav-item">
                    <a class="mx-2" href="{{ relLangURL .url }}">{{ .name }}</a>
                </li>
                {{ end }}
                <li class="nav-item ms-auto">
                    {{ $Site := .Site }}
                    {{ with .File }}
                    <button type="button" class="btn btn-primary btn-sm d-inline-flex align-items-center" id="edit-page-link" data-url="{{ $Site.Params.editURL }}{{ replace .Dir "\\" "/" }}{{ .LogicalName }}">
                        <i class="material-icons size-16 me-2">edit</i><span>Edit</span>
                    </button>
                    {{ end }}
                </li>
            </ul>
            <script>
                document.addEventListener("DOMContentLoaded", function() {
                    var editLink = document.getElementById('edit-page-link');
                    if (editLink) {
                        var url = editLink.getAttribute('data-url');
                        editLink.onclick = function() {
                            window.open(url, '_blank');
                        };
                    }
                });
            </script>
        </div>
        <!--end container-->
    </div>
</footer>
<!--end footer-->
<!-- Footer End -->
