{{ define "main"}}
<div class="d-flex flex-column justify-content-center align-items-center four-oh-four">
    <div class="px-1">
        <h1 class="text-center">{{- .Site.Params.Errortitle}}</h1>
        <h4 class="text-center">{{- .Site.Params.Errordescription}}</h4>
    </div>
    <div class="px-1">
        <div class="container d-flex justify-content-between align-items-center">
            <a class="logo" aria-label="Home" href='{{ site.Home.Permalink }}'>
                {{ with resources.Get "images/logo.svg" }}
                {{ .Content | safeHTML }}
                {{ end }}
            </a>
        </div>
    </div>
</div>
{{ end }}