{% extends "base.html" %}
{% block content %}
<div id="blog">
<h3>Vorbeikommen, Mitmachen und FreifunkerIn werden!</h3>
<p>
  <em>Auf Grundlage von <cite>Mario Behling</cite></em>
</p>

<p>Jeden Mittwoch trifft sich die Berliner Freifunk-<span lang="en">Community</span> in der <a href="http://www.c-base.org"><span lang="en">c-base</span></a> in der Rungestraße 20 (Nahe <abbr title="S-Bahnhof">S</abbr>+<abbr title="U-Bahnhof">U</abbr> Jannowitzbrücke). Hier kann mensch alles lernen was mensch zur Teilnahme am "olsrexperiment" braucht - vom Antennenbau bis zur <span lang="en">Access-Point</span>-Konfiguration. Jeden 1. Mittwoch im Monat gibt es einen Einsteigervortrag für neue MitstreiterInnen. Möglichkeiten mitzumachen bei Freifunk gibt es viele - als NetzwerkerIn, Software-ProgrammiererIn, AutorIn oder IdeenpromoterIn... Ein paar Ideen, wie du dich in der Freifunk-<span lang="en">Community</span> engagieren kannst, haben wir folgend zusammengestellt.</p>

<h4>Mitmachen als Freifunk-<abbr lang="en" title="Optimized Link State
Routing"><span lang="de">OLSR</span></abbr>-NetzwerkerIn</h4>
<p>Du hast eine Internetverbindung oder einfach nur einen <abbr>WRT</abbr> oder einen anderen freifunktauglichen <span lang="en">Router</span>? Werde Teil der <span lang="en">Community</span>, lade dir die <span lang="en">Firmware</span> herunter und installiere sie! Gibt es noch keine weiteren FreifunkerInnen in deiner Gegend? Dann bist du der oder die Erste und andere werden dir bald folgen! Und hast du die Freifunk-<span lang="en">Firmware</span> einmal bei dir installiert, kannst du sie auch schnell und einfach bei deinen FreundInnen, BekanntInnen und NachbarInnen installieren! Wie das geht, kannst du im <a href="https://wiki.freifunk.net/">Freifunk-Wiki</a> erfahren.</p>

<h4>Mitmachen als ProgrammiererIn im Bereich <span lang="en">Software</span></h4>
<p>Du hast Ahnung vom Programmieren oder interessierst dich für <span lang="en">Computer</span>? Die Freifunk-<span lang="en">Firmware</span> und die <abbr lang="en"><span lang="de">OLSR</span></abbr>-<span lang="en">Software</span> werden ständig weiterentwickelt. Lade dir das Programm herunter, lerne mehr darüber und hilf bei der Verbesserung!</p>
<h4>Mitmachen als Freifunk-AutorIn</h4>
<p>Du findest die Idee von Freifunk spannend und schreibst gerne Artikel, machst Fotos, Audioberichte oder Kurzfilme? Dann hilf uns die Freifunk-Idee bekannter zu machen! Schreib einen Artikel über Freifunk, ein Freifunk-Projekt oder ein Freifunk-<span lang="en">Event</span>! Du kannst zum Beispiel einfach ein <span lang="en">Interview</span> mit Leuten machen, die gerade ein Freifunk-Netz aufbauen! Veröffentliche deinen Artikel dann auf deinem <span lang="en">Blog</span> oder einer unabhängigen Medienseite wie Indymedia. Auch das <a href="http://blog.freifunk.net/"><span lang="en">Blog</span></a> der deutschsprachigen <span lang="en">Community</span> <a href="http://freifunk.net/">freifunk.net</a>, veröffentlicht gerne Beiträge.</p>

<h4>Mitmachen und Feifunk promoten</h4>
<p>Hast du ein bisschen Zeit und Lust kannst du Freifunk auch vor Ort in deiner Gegend promoten und MitstreiterInnen finden. Ideen für Freifunk-<span lang="en">Flyer</span> und Texte zum Finden von neuen Leuten hier:</p>
<ul>
<li><a href="http://freifunk.net/downloads/031021_ffn_flyer_A4nutzen.pdf">Freifunk-<span lang="en">Flyer</span></a> gesetzt auf A4-Nutzen, <abbr title="zirka">ca.</abbr> 1,7 <abbr lang="en" title="Megabyte"><span lang="de">MB</span></abbr></li>
<li><a href="http://styx.commando.de/sven-ola/freifunk-infoblatt.pdf">Freifunk-Infoblatt</a> für Einsteiger, <abbr lang="la">ca.</abbr> 0,8 <abbr lang="en"><span lang="de">MB</span></abbr></li>
</ul>
<p>Und außerdem gibt es auch noch die Möglichkeit Freifunk auf öffentlichen Veranstaltungen, Messen und <a href="http://webmontag.de/"><span lang="en">Web</span> Montagen</a> in deiner Region vorzustellen. Lade dir einfach die aktuelle Präsentation von der <span lang="en">Website</span> herunter, halte einen Vortrag und komm mit Leuten ins Gespräch!</p>
<ul>
<li><a href="http://freifunk.net/downloads/050406_ffn_present_v10_jpn.pdf">Freifunk-Präsentation</a> als <abbr lang="en" title="Portable Document Format"><span lang="de">PDF</span></abbr>-Dokument, <abbr lang="la">ca.</abbr> 1,4 <abbr lang="en"><span lang="de">MB</span></abbr></li>
<li><a href="http://freifunk.net/downloads/050406_ffn_present_v10_jpn.sxi">Freifunk-Präsentation</a> als <abbr lang="en" title="Sun XML Impress"><span lang="de">SXI</span></abbr>-Dokument, <abbr lang="la">ca.</abbr> 1,1 <abbr lang="en"><span lang="de">MB</span></abbr></li>
</ul>

<h4>Mitmachen als <span lang="en">Usability</span>-ExpertIn</h4>
<p>Du hast Ideen wie mensch diese <span lang="en">Website</span> übersichtlicher gestalten kann? Dann mach doch mit und verbessere diese mit uns! Komm einfach am Mittwoch in der <span lang="en">c-base</span> vorbei und sprich mit uns darüber!</p>
</div>
</div>

{% endblock %}
