<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">

    <title>Freifunk Berlin</title>

    <link rel="shortcut icon" type="image/x-icon" href="{{url_for('static',filename='img/favicon.ico')}}">
    <link href='http://fonts.googleapis.com/css?family=Noto+Sans' rel='stylesheet' type='text/css'>
    <link href="{{url_for('static',filename='css/bootstrap.min.css')}}" rel="stylesheet" media="screen">
    <link href="{{url_for('static',filename='css/main.css')}}" rel="stylesheet" media="screen">

    <script src="{{url_for('static',filename='js/d3.v3.min.js')}}"></script>
    <script src="{{url_for('static',filename='js/d3.jsonp.js')}}"></script>
    <script src="{{url_for('static',filename='js/graph.js')}}"></script>
    <script src="{{url_for('static',filename='js/openwifimap.js')}}"></script>
  </head>

  <body>

    <div class="container">
      <div class="row">

        <div class="span12" id="header">
          <div>
            <h1>
              Freifunk <small>Berlin</small>
            </h1>

            <ul>
              {% import '_utils.html' as utils with context %}
              {{ utils.nav('Info', 'index') }}
              {{ utils.nav('Netz', 'network') }}
              {{ utils.nav_external('Wiki', 'http://wiki.freifunk.net/Hauptseite') }}
              {{ utils.nav('Kontakt', 'contact') }}
            </ul>
          </div>

          <p>
            <img src="{{url_for('static', filename='img/logo.png')}}" alt="Freifunk Logo" />
          </p>
        </div>
      </div>
    </div>

   {%block raw %}{% endblock %}

  </body>
</html>
