{% macro nav(label, endpoint) -%}
{% if request.endpoint == endpoint %}
<li class="active">
  {{label}}
{% else %}
<li>
  <a href="{{url_for(endpoint)}}">
    {{label}}
  </a>
</li>
{%endif%}
{%- endmacro %}

{% macro nav_external(label, url) -%}
<li>
  <a href="{{url}}">
    {{label}}
  </a>
</li>
{%- endmacro %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Freifunk Map Berlin</title>
    <link href="{{url_for('static',filename='css/bootstrap.min.css')}}" rel="stylesheet" media="screen">
    <link href="{{url_for('static',filename='css/main.css')}}" rel="stylesheet" media="screen">
    <script src="{{url_for('static',filename='js/d3.v3.min.js')}}"></script>
    <script src="{{url_for('static',filename='js/graph.js')}}"></script>
  </head>
  <body>

    <div class="container">
      <div class="row">

        <div class="span12" id="header">
          <div>
            <h1>
              Freifunk <small>Berlin</small>
            </h1>

            <ul>
              {{ nav('Aktuelles', 'blog') }}
              {{ nav_external('IP-Vergabe', 'http://ip.berlin.freifunk.net/') }}
              {{ nav('Karte', 'map') }}
              {{ nav('Vernetzung', 'edges') }}
              {{ nav('Topologie', 'graph') }}
              {{ nav('Statistik', 'stats') }}
              {{ nav_external('Kontakt', 'http://lists.berlin.freifunk.net/cgi-bin/mailman/listinfo') }}
            </ul>
          </div>

          <p>
            <img src="{{url_for('static', filename='img/logo.png')}}" alt="Freifunk Logo" />
          </p>
        </div>
      </div>
    </div>

    <div id="content">
      {%block raw %}{% endblock %}
    </div>

  </body>
</html>
