{{ $mail_subjects := partial "activities-mailinglist.html" . }}

{{ if eq .Site.Language.Lang "de" }}
    Auf der <a href="https://lists.berlin.freifunk.net/cgi-bin/mailman/listinfo/berlin">Mailingliste</a> werden gerade folgende Themen diskutiert:
{{ else if eq .Site.Language.Lang "en" }}
    The following topics are currently being discussed on the <a href="https://lists.berlin.freifunk.net/cgi-bin/mailman/listinfo/berlin">mailing list</a>:
{{ end }}

<div class="d-flex flex-wrap mt-2 mb-4 gap-1">
{{ range $element := $mail_subjects }}
<div class="d-inline bg-secondary border rounded-pill border-2 px-2 p-1">{{ $element }}</div>
{{ end }}
</div>